@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "Warrior";
    src: url(./resources/assets/warriot-font/Warriot-lgR3y.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Motley Forces";
    src: url(./resources/assets/motley-forces-font/MotleyForcesRegular-w1rZ3.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fony";
    src: url(./resources/assets/fony/Fony.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cheesy Cats";
    src: url(./resources/assets/cheesy_cat/Cheesy\ Cats.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cat Song";
    src: url(./resources/assets/cat_song/Cat\ Song.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Journey Handwriting";
    src: url(./resources/assets/journey_handwriting/JourneyHandwritingFon-Rg.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --acc-col: darkolivegreen;
    --bg-col: oldlace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-col);
}

header {
    --header-padding: 70px;
    width: calc(100vw - var(--header-padding) * 2);
    padding: 10px var(--header-padding);
    display: flex;
    justify-content: flex-end;
    position: absolute;

    nav {
        font-family: "Noto Serif Oriya";
        font-size: 1.5em;
        font-weight: bold;

        ul {
            padding-inline-start: 0;
            list-style: none;
            display: flex;
            gap: 32px;

            a {
                color: initial;
                text-decoration: none;
                transition: 150ms ease-out;

                iconify-icon {
                    font-size: 32px;
                }

                &:hover {
                    color: var(--acc-col);
                }
            }
        }
    }
}

#hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cat Song", serif;
    font-size: 3.5em;

    h1 {
        position: relative;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        padding: 20px 15px 5px;
        transition: 350ms ease-out;
        cursor: pointer;

        &:hover {
            color: #21300d;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: var(--acc-col);
            height: 100%;
            width: 100%;
            left: 0;
            bottom: 0;
            border-radius: 10px;
            z-index: -1;
            transform: translateX(-100%);
            transition: 500ms ease-out;
        }

        &:hover::after {
            transform: translateX(0);
        }
    }
}